<!--The content below is only a placeholder and can be replaced.-->
<!--<div class="col-xs-12" style="text-align:center">-->
  <!--<h1>-->
    <!--Welcome to {{ name }}!-->
  <!--</h1>-->
  <!--<img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">-->
<!--</div>-->
<!--<h2>Here you can put name of your application: </h2>-->
<!--<label>-->
  <!--<input type="text" [(ngModel)]="name">-->
<!--</label>-->
<!--<app-server></app-server>-->
<h1 style="text-align:center">
Welcome to {{ name }}!
</h1>
<h2 style="text-align:center">This is my first Angular application</h2>
<p>There is a button</p>
<button class="btn btn-primary" (click)="onDisplayDetails()">Display details</button>
<!--<p [hidden]="hiddenDetails">some secret text</p>-->
<p *ngIf="!hiddenDetails; else noSecret">some secret text</p>
<ng-template #noSecret>
  <p >nothing special here</p>
</ng-template>
<button class="btn btn-warning" (click)="addTheServer()">Add server</button>
<div
  *ngFor="let servers of serversList"
  [ngStyle]="{background: servers > 5 ? 'blue' : 'white' }"
  [ngClass]="{'white-text': servers > 5 }"
>{{servers}}</div>
<h3>And some static random servers:</h3>
<button class="btn btn-warning" (click)="addTheStaticServer()">Add static server</button>
<app-server
  (serverDeleting)="onDeleteStaticServer($event)"
  *ngFor="let oneServer of staticServersList"
  [serverInfo]="oneServer"
></app-server>




